*{
    margin: 0;
    padding: 0;
}
@keyframes gradient{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
header div.topo{
    animation: gradient 10s ease infinite;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 300% 300%;
    display: flex;
    justify-content: center;    
    height: 58px;
    color: white;
    animation: gradient 10s ease infinite;
}
ul.menu{
    display: flex;
}
ul.menu li{
    position: relative;
    list-style-type: none;
    margin-right: 37px;
    font-size: 24px;
    top: 10px;
}
body div.text-principal{
    position: relative;
    top: 70px;
}body div.text-principal h1{
    font-size: 63px;
}
body div.text-principal h1,h2, h4{
    font-family: 'Roboto Slab', serif;
    display: flex;
    justify-content: center;
}
body div.text-principal h4 {
    top: 335px;
    position: relative;
    font-size: 29px;
}
body div.sobre-min{
    display: flex;
    position: absolute;
    top: 17cm;
}
body div.sobre-min h1{
    position: relative;
    top: 10px;
    width: 19cm;
    left: 1cm;
    font-family: monospace;
    height: 4cm;
}
body div.sobre-min img{
    position: relative;
    bottom: 83px;
}
body div.projetos{
    position: relative;
    top: 20cm;
}
body div.projetos h1{
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 41px;
    font-family: 'Roboto Slab', serif;
}
body div#arrumar-projetos{
    display: flex;
}
body div.projeto{
    width: 11cm;
    height: 8cm;
    border-radius: 15px;
    margin: 1cm;
}
body div.projeto img{
    width: 8cm;
    height: 8cm;
    border-radius: 15px;
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 2px solid black;
}
body div.projeto:hover img{
    -moz-transition: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
footer div.rodape{
    position: absolute;
    width: 100%;
    height: 2cm;
    top: 40cm;
    background-color: #1a1c1c;
}
footer div.contatos{
    display: flex;
}
footer div.rodape h2{
    font-size: 31px;
    font-family: 'Roboto Slab', serif;
    height: 0;
    color: #fff;
}
footer div.contatos{
    background-color: #1a1c1c;
    position: absolute;
    top: 16px;
}
span{
    position: relative;
    color: #fff;
}
footer div.contact-number h2{
    position: relative;
    left: 60px;
}
footer div.contact-number span{
    bottom: 29px;
    left: 21px;

    top: 5px;
    left: 21px;
}
footer div.contact-gmail{
    display: flex;
    position: relative;
    left: 23cm;
}
footer div.contact-gmail span{
    height: 0;
    right: 13px;
    top: 12px;
}